.jumbotron {
  background-color: #C71585;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px; }

.btn {
  background-color: #C71585;
  border: #C71585;
  color: white;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px; }

.btntarifas {
  background-color: transparent;
  border: transparent;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px; }

.btninfo {
  font-size: 12px;
  color: #C71585;
  background-color: transparent;
  border: transparent;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.color-opciones {
  color: #C71585; }

.card-imagen {
  margin-top: 0px;
  margin-bottom: 0px; }

.card-opciones {
  padding: 20px 50px 5px 0px; }

.card-tratamientos {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center; }

.card-servicios {
  flex: 1 200px;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-footer {
  text-align: center; }

.thead {
  background-color: #C71585;
  color: white; }

.tab-content {
  padding-top: 30px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #C71585;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.link {
  color: white; }

.popover {
  background-color: red;
  text-align: center; }

.popover-body {
  color: white; }

.bs-popover-auto[x-placement^=top] > .arrow::after, .bs-popover-top > .arrow::after {
  border-top-color: red; }
