$pink: #C71585;
$white: #FFFFFF;
$red: #FF0000;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $pink;
	color: $white;
	@include margenes(40px, 0px);
}


.btn{
	background-color: $pink;
	border: $pink;
	color: $white;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.btntarifas{
	background-color: transparent;
	border: transparent;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.btninfo{
	font-size: 12px;
	color: $pink;
	background-color: transparent;
	border: transparent;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.color-opciones{
	color: $pink;
}

.card-imagen{
	@include margenes(0px, 0px);
}

.card-opciones{
	padding: 20px 50px 5px 0px;
}

.card-tratamientos{
	@include margenes(50px, 30px);
	text-align: center;
}

.card-servicios{
	flex: 1 200px;
	padding: 0px 0px 0px 0px;
	@include margenes(10px, 0px);
}

.card-footer{
	text-align: center;
}


.thead{
	background-color: $pink;
	color: $white;
}

.tab-content{
	padding-top: 30px;
}
footer{
	padding: 10px 10px 0px 10px;
	background-color: $pink;
	color: $white;
	@include margenes(50px, 0px);
}

.link{
	color: $white;
}

.popover{
	background-color: $red;
	text-align: center;
}

.popover-body{
	color: $white;
}

.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
	border-top-color: $red;
}